# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env

# Django
media/
staticfiles/

# Virtual environment (in case someone puts one here)
venv/
.venv/

# VS Code and OS files
.vscode/
.DS_Store
Thumbs.db
